---
import IPVT from "@/components/IPVT.astro";
import IPAbuseIPDB from "@/components/IPAbuseIPDB.astro";
import DomainVT from "@/components/DomainVT.astro";
import DomainOTX from "@/components/DomainOTX.astro";
import HashVT from "@/components/HashVT.astro";
import HashPolyswarm from "@/components/HashPolyswarm.astro";

const { apiID } = Astro.props;
---

<article
    class="block max-w-sm p-6 bg-purple-800/30 border border-gray-400/50 rounded-lg shadow"
>
    <h3
        id=`api${apiID}-title`
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
    </h3>

    {
        apiID === "1" ? (
            <IPVT apiID={apiID} dbSource="virustotalip" />
        ) : (
            <IPAbuseIPDB apiID={apiID} dbSource="abuseipdb" />
        )
    }
    {
        apiID === "1" ? (
            <DomainVT apiID={apiID} dbSource="virustotaldomain" />
        ) : (
            <DomainOTX apiID={apiID} dbSource="alienvaultotx" />
        )
    }
    {
        apiID === "1" ? (
            <HashVT apiID={apiID} dbSource="virustotalhash" />
        ) : (
            <HashPolyswarm apiID={apiID} dbSource="polyswarm" />
        )
    }

    <pre
        id=`api${apiID}-result`
        class="font-mono text-sm whitespace-pre-wrap break-words">
    </pre>
</article>
