---
const { apiID, dbSource } = Astro.props;
---

<div id={dbSource} class="hidden">
    <h4 class="mt-4 text-lg font-bold">Informaci贸n general</h4>
    <p
        id=`api${apiID}-result-${dbSource}-reputation`
        class="text-gray-300 text-base"
    >
        <strong>Reputaci贸n:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-owner`
        class="text-gray-300 text-base"
    >
        <strong>Propietario:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-country`
        class="text-gray-300 text-base"
    >
        <strong>Pais:</strong>
    </p>

    <h4 class="mt-4 text-lg font-bold">Detecciones por vendors de seguridad</h4>
    <p
        id=`api${apiID}-result-${dbSource}-analysis-harmless`
        class="text-gray-300 text-base"
    >
        <strong>Inofensivo:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-analysis-malicious`
        class="text-gray-300 text-base"
    >
        <strong>Malicioso:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-analysis-suspicious`
        class="text-gray-300 text-base"
    >
        <strong>Sospechoso:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-analysis-undetected`
        class="text-gray-300 text-base"
    >
        <strong>No hay informaci贸n:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-analysis-timeout`
        class="text-gray-300 text-base"
    >
        <strong>No hubo respuesta:</strong>
    </p>

    <h4 class="mt-4 text-lg font-bold">Votos de reputaci贸n</h4>
    <p
        id=`api${apiID}-result-${dbSource}-votes-harmless`
        class="text-gray-300 text-base"
    >
        <strong>Inofensivo:</strong>
    </p>
    <p
        id=`api${apiID}-result-${dbSource}-votes-malicious`
        class="text-gray-300 text-base"
    >
        <strong>Malicioso:</strong>
    </p>
</div>
